* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

header {
    background-color: rgb(217, 217, 217);
    padding-top: 1%;
    padding-bottom: 1%;
}

.logo {
    margin-left: 5%;
    margin-right: 10%;
    font-family: "DM Serif Display", serif;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: black;
}

.barra-navegacion {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: "Crimson Pro", serif;
    align-items: center;
}

.barra {
    padding-left: 2.5%;
    color: black;
    text-decoration: none;
}

body {
    margin: 0;
}

div img {
    height: 200px;
    width: 200px;

}

.contenedor {
    flex-wrap: wrap;
    display: flex;
    flex-direction: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: flex-start;
    font-family: "Fira Sans", sans-serif;
    font-weight: 100;
    padding: 2%;
}

footer {
    background-color: rgb(217, 217, 217);
    padding-top: 0.2%;
    padding-bottom: 0.2%;
}

.text-footer {
    font-family: "Crimson Pro", serif;
    text-align: center;
    font-size: 20px;
    margin: 0;
}

main {
    background-color: rgb(237, 237, 237);
    padding-bottom: 2%;

}

.titulo-secciones {
    font-family: "Fira Sans", sans-serif;
    padding-top: 1%;
    font-size: 28px;
    margin-bottom: 0;
    border-bottom: 2px solid black;
    margin-left: 1.7%;
    margin-right: 1.7%;
}

.articulos-home {
    border: 1px solid black;
}

.contenedores.articulos {
    width: 5%;
}

.textos-secciones {
    width: 200px;
}