header{
    background-color: rgb(217,217,217);
    
}

.logo-img{
    width: 15%;
    margin-left: 2.5%;
    margin-top: -9%;
    padding-top: 2%;
}

.barra-navegacion{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}

.barra{
    padding: 20px;
}

body{
    margin: 0;
}

div img {
    height: 300px;
    width: 300px;

}